MONGODB_URI=mongodb://localhost:27017/aquatech
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
ADMIN_DEFAULT_EMAIL=admin@aquatech.test
ADMIN_DEFAULT_PASSWORD=supersecurepassword
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-maps-api-key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
